/* Animate */
.animate {
  animation: animateElement cubic-bezier(0.22, 1, 0.36, 1) 0.55s;
  animation-fill-mode: both;
  animation-iteration-count: 1;

  @keyframes animateElement {
    0% {
      opacity: 0;
      transform: translate(0, 20px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}