<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="hero__frame">
      <div class="row hero__row">
        <div class="col col-5 col-t-12 hero__col hero__col--photo">
          <div class="hero__media">
            <img class="hero__photo" src="{{ site.baseurl }}/images/lali.png" alt="{{ site.data.settings.author | default: 'Lali Ch.' }}" width="585" height="695" loading="eager">
          </div>
        </div>
        <div class="col col-7 col-t-12 hero__col hero__col--text">
          <div class="hero__inner">
            <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
            <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->
