/* Footer */
.footer {
  margin-top: 120px;
  background: var(--background-alt-color);

  @media only screen and (max-width: $mobile) {
    margin-top: 80px;
  }
}

.footer__content {
  position: relative;
  padding: 80px 0 40px 0;

  @media only screen and (max-width: $mobile) {
    padding: 60px 0 40px 0;
  }
}

.footer__social {
  margin-bottom: 40px;

  @media only screen and (max-width: $mobile) {
    margin-bottom: 32px;
  }
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  &__link {
    font-size: 20px;
    line-height: 1;
    margin: 0 16px 12px 16px;
    color: var(--heading-font-color);
    transition: all .25s ease;

    &:hover {
      color: var(--link-color-hover);
    }

    @media only screen and (max-width: $mobile) {
      font-size: 16px;
      margin: 0 12px 8px 12px;
    }
  }
}

.footer__copyright {
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: var(--text-color);
}